{% extends 'www/base.html' %}

{% block content %}
    {% load staticfiles %}
    <script src="{% static 'ace/src-min/ace.js' %}" type="text/javascript" charset="utf-8"></script>
    <div class="container">
        <h3>Console</h3>

        <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12">

                <div id="editor">print("Hello world")
                </div>
                <br>
                {% csrf_token %}
                <button class="btn btn-success float-right" id="btnCompile">Run
                </button>
            </div>
            <div class="col-lg-6 col-sm-12 col-xs-12">
                <div id="output">
                </div>
            </div>
        </div>
    </div>

    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/dawn");
        {#        editor.setTheme("ace/theme/cobalt");#}
        editor.getSession().setTabSize(4);
        editor.getSession().setMode("ace/mode/python");
        document.getElementById('editor').style.fontSize = '12px';
        {#    editor.setReadOnly(true);  // false to make it editable#}
        editor.getSession().setUseWrapMode(true);
        editor.setShowPrintMargin(false);
        editor.$blockScrolling = Infinity;


        {#   for the output window   #}
        var outputwindow = ace.edit("output");
        outputwindow.setTheme("ace/theme/mono_industrial");
        outputwindow.renderer.setShowGutter(false);
        outputwindow.setReadOnly(true);
        outputwindow.setValue("Output:")
        document.getElementById('output').style.fontSize = '18px';
        outputwindow.highlightActiveLine = false;
        outputwindow.highlightGutterLine = false;
        outputwindow.clearSelection();
        outputwindow.$blockScrolling = 1000;
        {#  end of output window  #}

        {#  send for compilation  #}
        $(document).ready(function () {
            $('#btnCompile').click(function (e) {
                e.preventDefault();
                var editor = ace.edit("editor");
                var code = editor.session.getValue();
                var output = ace.edit("output");
                output.setValue("Running..." );
                $.ajax({
                    type: "POST",
                    url: "runcode",
                    data: {
                        "code": code,
                        "csrfmiddlewaretoken": "{{csrf_token}}",
                    },
                    success: function (data) {
                        console.log("Success");
                        console.log(data);

                        output.setValue("Output:\n" + data);
                        output.clearSelection();
                    },
                    error: function () {
                        console.log("Error");
                    },

                });
            });
        });
        {#  Request sent for compilation  #}
    </script>

{% endblock %}