{% extends 'www/base.html' %}

{% block content %}
    {% load staticfiles %}
    <script src="{% static 'ace/src-min/ace.js' %}" type="text/javascript" charset="utf-8"
            xmlns="http://www.w3.org/1999/html"></script>
    <style type="text/css" media="screen">

        #editor {
            margin-top: 10px;
            visibility: visible;
            width: 100%;
            height: 280px;
        }

        #output {
            margin-top: 10px;
            visibility: visible;
            width: 100%;
            height: 340px;
            margin-bottom: 10px;
        }
    </style>
    <div class="container">

        <div class="row">

            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                <h3>Console</h3>

                <div class="well text-justify">
                    This is the code area. You can use this as a play ground or as a compiler to prepare questions or
                    just to run some code.
                </div>
                <div class="well text-justify">
                    To provide runtime input to the program, use the below given textbox.
                </div>
               <span class="h3"> <span class="label label-primary" id="saveTime"></span></span><i class="fa fa-cloud-upload btn fa-2x pull-right" id="btnSaveCode"> Save</i>
                <br><br>

                <div id="editor">print("Hello world")
                </div>
                <br>

                <div class="col col-lg-4 col-md-4">
                    <div class="form-group pull-left">
                        <select class="form-control d-inline-block" id="lang">
                            {% for lang_ob in languages %}
                                <option>{{ lang_ob.lang }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <i id="loader" class="fa fa-circle-o-notch fa-spin pull-right fa-2x" aria-hidden="true"></i>
                <button class="btn btn-success pull-right" id="btnCompile">Run
                </button>
                <div class="form-group">
                    <textarea class="form-control" id="custominput" rows="3"
                              placeholder="Enter runtime inputs here"></textarea>
                </div>


            </div>

        </div>
        <div class="row">
            {#   second row     #}
            <div class="col-lg-9 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-8 col-sm-offset-4 col-xs-12">
                <div id="output">

                </div>


            </div>
        </div>
    </div>



    <script>
        {#   Initialize the editor     #}
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/cobalt");
        editor.getSession().setTabSize(4);
        editor.getSession().setMode("ace/mode/python");
        document.getElementById('editor').style.fontSize = '15px';
        editor.getSession().setUseWrapMode(true);
        editor.setShowPrintMargin(false);
        {#    End of editor initialization    #}

        {#   for the output window   #}
        var outputwindow = ace.edit("output");
        outputwindow.setTheme("ace/theme/twilight");
        outputwindow.renderer.setShowGutter(false);
        outputwindow.setReadOnly(true);
        outputwindow.setValue("Output:")
        document.getElementById('output').style.fontSize = '18px';
        outputwindow.clearSelection();
        outputwindow.$blockScrolling = 1000;
        {#  end of output window  #}

        {#  send for compilation  #}
        $(document).ready(function () {
            {#    Compile button logic        #}
            $('#loader').hide();
            $('#btnCompile').click(function (e) {
                $('#btnCompile').hide();
                $('#loader').show();
                e.preventDefault();
                var editor = ace.edit("editor");
                var code = editor.session.getValue();
                var output = ace.edit("output");
                var lang = $('#lang').find(":selected").text();
                var userinp = $('#custominput').val();
                userinp.toString();
                output.setValue("Running...");
                $.ajax({
                    type: "POST",
                    url: "{% url 'cc:run_code' %}",
                    data: {
                        "code": code,
                        "lang": lang,
                        "csrfmiddlewaretoken": "{{csrf_token}}",
                        "userinp": userinp,
                    },
                    success: function (data) {
                        console.log("Success");
                        console.log(data);
                        $('#btnCompile').show();
                        $('#loader').hide();

                        output.setValue("Output:\n" + data);
                        output.clearSelection();
                    },
                    error: function () {
                        output.setValue("Error:\n");
                        console.log("Error");
                        output.clearSelection();
                        $('#btnCompile').show();
                        $('#loader').hide();
                    },

                });
            });
            {#   Compile button logic ends Request sent for compilation     #}

            {#     Languae option to change syntax highlighting       #}
            $('#lang').on('change', function (e) {
                var editor = ace.edit('editor');
                var lang = $('#lang').find(":selected").text();
                $.ajax({
                    type: "POST",
                    url: "{% url 'cc:get_ace_name' %}",
                    data: {
                        "lang": lang,
                        "csrfmiddlewaretoken": "{{csrf_token}}",
                    },
                    success: function (data) {
                        console.log("Success");
                        console.log(data);
                        lang = data;
                        editor.getSession().setMode("ace/mode/" + lang);
                    },
                    error: function (data) {
                        console.log("Error");
                        console.log(data);

                    },

                });
            });
        });
        {#    Script for save code#}
        $("#btnSaveCode").click(function () {
            console.log("Hello");
            var code = editor.session.getValue();
            $(".fa-save").hide();
            $.ajax({
                type: "POST",
                url: "{% url 'cc:update_live_code' %}",
                data: {
                    "code":code,
                    "csrfmiddlewaretoken": "{{csrf_token}}",
                },
                success: function (data) {
                    console.log("Success");
                    console.log(data);
                    $("#saveTime").html(data);
                },
                error: function (data) {


                },

            });

            $(".fa-save").show();
        });


    </script>
    <!--<script>
        var editor = ace.edit("output");
        $('#clipboard').on('click', function () {
            var sel = editor.selection.toJSON(); // save selection
            editor.selectAll();
            editor.focus();
            document.execCommand('copy');
            editor.selection.fromJSON(sel); // restore selection
        });
    </script>-->
{% endblock %}