<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <title>Code crunchers</title>
    {#Bootstrap4 css#}
    {#    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>#}

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    {# Font-awesome   #}
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {#JQuery#}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    {#IntercoolerJS - AJAX on Steroids #}
    <script src="http://cdn.intercoolerjs.org/intercooler-1.1.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'base/UserProfile.css' %}"/>

    <style type="text/css">

    </style>

</head>
<body>
<div class="container">
    <div class="row profile">
        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
            <div class="profile-sidebar">

                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {% if user.is_authenticated %}
                            <span id="repName">{{ user.first_name }} {{ user.last_name }}</span>
                            <br>
                            <small><span id="repName">@{{ user }}</span></small>
                        {% endif %}
                    </div>
                    <div class="profile-usertitle-job">
                        <span id="compName"></span>
                    </div>
                    <div>
                        <a href="../investorwallet.aspx">
                            <i class="fa fa-bank"></i>
                            Points </a>
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->

                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li>
                            <a href="{% url 'profile' %}">
                                <i class="glyphicon glyphicon-user"></i>
                                Profile </a>
                        </li>
                        <li>
                            <a href="investoranalysis.aspx">
                                <i class="glyphicon glyphicon-stats"></i>
                                Leaderboard</a>
                        </li>

                        <li>
                            <a href="{% url 'ev:evhome' %}">
                                <i class="glyphicon glyphicon-stats"></i>
                                Problems</a>
                        </li>

                        <li>
                            <a href="investorideas.aspx">
                                <i class="glyphicon glyphicon-record fa-spin"></i>
                                Practice</a>
                        </li>

                        <li>
                            <a href="{% url 'cc:console' %}">
                                <i class="fa fa-terminal" aria-hidden="true"></i>
                                Console</a>
                        </li>
                        <li>
                            <a href="{% url 'auth_logout' %}">
                                <i class="glyphicon glyphicon-log-out"></i>
                                Sign Out</a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->


            </div>

        </div>

        {% block content %}
        {% endblock %}
    </div>
</div>

<script>
    $(document).ready(function () {
        $("li").hover(function () {
            $(this).addClass("active");
        }, function () {
            $(this).removeClass("active");
        })
    });
    $("li").click(function () {
        $(this).addClass("active");
    });
</script>
</body>
</html>