{% extends 'www/base.html' %}
{% block content %}
    <div class="col col-lg-9 col-md-9 col-sm-8 col-xs-12">
    <h2>Leaderboard</h2>
    <hr>
        <div class="table-responsive">
        <table class="table table-bordered panel text-center">
            <thead>
            <tr>
            <th class="panel-title text-center">Rank</th>
            <th class="panel-title text-center">User</th>
            <th class="panel-title text-center">Username</th>
            <th class="panel-title text-center">Points</th>
           </tr>
            </thead>
        {% for user in users %}
            {% if user == request.user %}
                <tr class="btn-success">
            {% else %}
                <tr>
            {% endif %}

                <td>{{forloop.counter}}</td>
                <td><img src="{{ MEDIA_URL }}{{ user.profile.user_avatar }}" height="50" width="50" id="prof-pic"/></td>
                <td>{{ user.username }}</td>
                <td>{{ user.profile.experience_points }}</td>
            </tr>
        {% endfor %}
        </table>
        </div>
    </div>
{% endblock %}